################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/udemy-mci/udemy-mci/bin/Debug/netcoreapp3.0
/udemy-mci/udemy-mci/obj/Debug/netcoreapp3.0
/udemy-mci/udemy-mci/.vs/udemy-mci/DesignTimeBuild/.dtbcache.v2
/udemy-mci/udemy-mci/obj/Release/netcoreapp3.0/udemy-mci.GeneratedMSBuildEditorConfig.editorconfig
/udemy-mci/udemy-mci/obj/Release/netcoreapp3.0/udemy-mci.assets.cache
/udemy-mci/udemy-mci/obj/Release/netcoreapp3.0/udemy-mci.AssemblyInfoInputs.cache
/udemy-mci/udemy-mci/obj/Release/netcoreapp3.0/udemy-mci.AssemblyInfo.cs
/udemy-mci/udemy-mci/obj/Release/netcoreapp3.0/.NETCoreApp,Version=v3.0.AssemblyAttributes.cs
