################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/udemy-mci/udemy-mci/bin/Debug/netcoreapp3.0
/udemy-mci/udemy-mci/obj/Debug/netcoreapp3.0
/udemy-mci/udemy-mci/bin/Debug/netcoreapp3.1
/udemy-mci/udemy-mci/.vs/udemy-mci/DesignTimeBuild
