################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/udemy-mci/udemy-mci/bin/Debug/netcoreapp3.0
